# This file contains common pin mappings for the TH3D EZBoard Lite v1.X. Works with ALL V1 boards (V1.0, V1.1, V1.2)
# To use this config, the firmware should be compiled for the LPC1769 with USB communication.
# Uses the Smoothieware Bootloader

# The "make flash" command does not work on this board. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the board
# with that SD card.

# See docs/Config_Reference.md for a description of parameters.
[include moonraker_obico_macros.cfg]
[include macros.cfg]
[include mainsail.cfg]
[include fluidd.cfg]
[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[mcu]
serial:  /dev/serial/by-id/usb-Klipper_lpc1769_05E0000D670449AF18F7515DC62000F5-if00

[exclude_object]

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 3000
max_z_velocity: 15
max_z_accel: 100

[stepper_x]
step_pin: P2.0
dir_pin: !P1.16
enable_pin: !P1.17
microsteps: 16
rotation_distance: 40
endstop_pin: ^P1.24
position_endstop: 0
position_max: 300
homing_speed: 50

[tmc2208 stepper_x]
uart_pin: P0.5
tx_pin: P0.4
run_current: 0.600
stealthchop_threshold: 999999

[stepper_y]
step_pin: P2.1
dir_pin: !P1.10
enable_pin: !P1.9
microsteps: 16
rotation_distance: 40
endstop_pin: ^P1.25
position_endstop: 0
position_max: 300
homing_speed: 50

[tmc2208 stepper_y]
uart_pin: P0.11
tx_pin: P0.10
run_current: 0.600
stealthchop_threshold: 999999

[stepper_z]
step_pin: P2.2
dir_pin: !P1.15
enable_pin: !P1.14
microsteps: 16
rotation_distance:7.8
position_max: 400
endstop_pin: probe:z_virtual_endstop
position_min: -3


[tmc2208 stepper_z]
uart_pin: P0.20
tx_pin: P0.19
run_current: 0.700
stealthchop_threshold: 999999

[extruder]
step_pin: P2.3
dir_pin: P1.4
enable_pin: !P1.8
microsteps: 16
rotation_distance: 7.71
nozzle_diameter: 0.400
max_extrude_cross_section: 500
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.23
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
max_temp: 300

[tmc2208 extruder]
uart_pin: P0.21
tx_pin: P0.22
run_current: 0.800
stealthchop_threshold: 0

[heater_bed]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: P2.6

[controller_fan fan_2]
pin: P1.22
fan_speed: 1.0
idle_timeout: 60
idle_speed: 0

#EZABL Ender 3 OEM Mount Based Settings
#[probe]
#pin: ^!P1.26
#x_offset: -44.0
#y_offset: -10.0
#z_offset: 0.0
#speed: 15
#samples: 2
#sample_retract_dist: 2.0

[bltouch]
sensor_pin: P1.26
control_pin: P2.4
x_offset: -35
y_offset: -3
#z_offset: 




[bed_mesh]
speed: 50
horizontal_move_z: 5
mesh_min: 20,20
mesh_max: 250,225
probe_count: 3,3

#[filament_switch_sensor my_sensor]
#switch_pin: P1.27

[safe_z_home]
home_xy_position: 161.5, 127.5
speed: 50
z_hop: 10
z_hop_speed: 15

#[neopixel ezneo_220]
#pin: P0.3
#chain_count: 15
#color_order: GRB
#initial_RED: 1.0
#initial_GREEN: 1.0
#initial_BLUE: 1.0

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P1.31, EXP1_3=P3.26, EXP1_5=P3.25, EXP1_7=P0.16, EXP1_9=<GND>,
    EXP1_2=P1.30, EXP1_4=<RST>, EXP1_6=P0.15, EXP1_8=P0.18, EXP1_10=<5V>

[output_pin beeper]
pin: EXP1_1

[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2

# See the sample-lcd.cfg file for definitions of common LCD displays.
[include moonraker_obico_macros.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 1.631
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-1.038375, -0.838500, -0.577688, -0.204750
#*# 	-1.335750, -1.092000, -0.780000, -0.360750
#*# 	-1.484438, -1.221188, -0.877500, -0.460688
#*# 	-1.462500, -1.194375, -0.887250, -0.511875
#*# x_count = 4
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 249.98000000000002
#*# min_y = 20.0
#*# max_y = 224.99
#*#
#*# [bed_mesh 60]
#*# version = 1
#*# points =
#*# 	-0.043875, 0.202312, 0.414375, 0.750750
#*# 	-0.253500, -0.007313, 0.241312, 0.594750
#*# 	-0.375375, -0.124313, 0.131625, 0.448500
#*# 	-0.338813, -0.117000, 0.095062, 0.348562
#*# x_count = 4
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 249.98000000000002
#*# min_y = 20.0
#*# max_y = 224.99
#*#
#*# [bed_mesh 60 n]
#*# version = 1
#*# points =
#*# 	0.063375, 0.270562, 0.455812, 0.682500
#*# 	-0.173063, 0.039000, 0.270562, 0.502125
#*# 	-0.302250, -0.070688, 0.134062, 0.372937
#*# 	-0.294938, -0.099938, 0.092625, 0.258375
#*# x_count = 4
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 249.98000000000002
#*# min_y = 20.0
#*# max_y = 224.99
